// font 
@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/font/montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Montserrat-italic';
    src: url('@/assets/font/montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

// mixin
@mixin button-1 {
    display: flex;
    margin-top: 36px;
    position: relative;
    color: $white;
    background: $btn-gradient1;
    border: 4px solid $black;
    border-radius: 8px;
    font-weight: $fw-700;
    font-size: $fs-28;
    line-height: normal;
    padding: 12px 48px;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;

    &:hover{
        background: $black;
        border: 4px solid transparent;
        background-clip: padding-box;
        box-sizing: border-box;
        
        &:before {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            margin: -3px;
            border-radius: inherit;
            background: $btn-gradient1;
        }
    }
}

@mixin button-1-switch-color {
    display: flex;
    margin-top: 36px;
    position: relative;
    color: $white;
    background: $btn-gradient1;
    border-radius: 8px;
    font-weight: $fw-700;
    font-size: $fs-28;
    line-height: normal;
    padding: 12px 48px;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    border: 0;

    &:hover{
        background: $btn-gradient1-switch;
        border: 0;
    }
}

@mixin button-border-2 {
    display: flex;
    margin-top: 36px;
    position: relative;
    box-sizing: border-box;
    color: $white;
    background: $black;
    background-clip: padding-box;
    border: solid 4px transparent;
    border-radius: 8px;
    font-weight: $fw-700;
    font-size: $fs-24;
    line-height: normal;
    padding: 12px 48px;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;

    &:hover{
        background: $btn-gradient2;
        border: 4px solid $black;
        transition: .5s;
    }
  
    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -3px;
        border-radius: inherit;
        background: $btn-gradient2;
    }
}

@mixin text-border-gradient {
    position: relative;
    box-sizing: border-box;
    color: $white;
    background: $black;
    background-clip: padding-box;
    border: solid 4px transparent;
    border-radius: 8px;
    font-weight: $fw-700;
    font-size: $fs-28;
    line-height: normal;
    cursor: pointer;
    box-shadow: 0px 0px 10px 6px rgba(0, 168, 232, 0.4);

    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -3px;
        border-radius: inherit;
        background: $box-gradient; 
    }
}

@mixin text-border-gradient-black {
    position: relative;
    box-sizing: border-box;
    color: $white;
    background: $black;
    background-clip: padding-box;
    border: solid 5px transparent;
    border-radius: 8px;
    font-weight: $fw-700;
    font-size: $fs-28;
    line-height: normal;
    cursor: pointer;
    box-shadow: 0px 11px 10px 6px rgba($color: $purple-blue, $alpha: 0.3);

    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -5px;
        border-radius: inherit;
        background: $box-gradient2; 
    }
}
// color
$black: #000;
$white: #f4f4ff;
$l2blue: #50CFFB;
$lblue: #00a8e8;
$purple-blue: #5e79ff;
$dark-blue: #0239c4;
$green: #5dcf5b;
$red: #ce1f1f;
$grey-50trans: rgba(255, 255, 255, 0.5);
$text-shadow: rgba(80, 207, 251, 0.6);

// gradient color
$text-gradient: linear-gradient(180deg, $l2blue 21.55%, $dark-blue 81.5%);

$btn-gradient1: linear-gradient(90deg, $lblue, $dark-blue 103.4%);
$btn-gradient1-switch: linear-gradient(90deg, $dark-blue, $lblue 103.4%);
$btn-gradient2: linear-gradient(180deg, $dark-blue 0%, $purple-blue 92.81%);

$box-gradient: linear-gradient(145deg, $l2blue, $lblue, $purple-blue, $dark-blue);
$box-gradient2: linear-gradient(180deg, $black, #3159e2, $purple-blue);

//font weight
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

//font size
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-28: 28px;
$fs-32: 32px;
$fs-36: 36px;
$fs-40: 40px;
$fs-48: 48px;
$fs-54: 54px;
$fs-64: 64px;
$fs-84: 84px;
$fs-128: 128px;



