@import 'variable';

.generate-page{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .video{
        display: flex;
        height: 100vh;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        margin-bottom: 0;
        z-index: -999;
        position: absolute;
        top: 0;

        video{
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }
    }

    &::before{
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -998;
        top: 0;
    }

    h1{
        position: relative;
        z-index: 0;
        color: $white;
        text-align: center;
        text-shadow: 4px 4px 10px $text-shadow;
        font-size: $fs-40;
        font-weight: $fw-800;
        margin: 2% 15% 3% 15%;
        display: flex;
    }

    .md-filter{
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
        justify-content: center;
        margin-bottom: 2%;
        gap: 24px;
        
        &-container{
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
            width: 100%;
            justify-content: center;

            .button{
                display: flex;
                flex-direction: column;
                width: 20%;

                button{
                    display: flex;
                    flex-direction: row;
                    border: 1px solid $white;
                    align-items: center;
                    width: 100%;
                    padding: 10px;
                    justify-content: space-between;
                    opacity: .7;

                    span{
                        display: flex;
                        color: $white;
                        font-size: $fs-18;
                        font-weight: $fw-600;

                    }

                    img{
                        display: flex;
                        transition: transform .5s;
                        width: 20px;

                        &.open{
                            transform: rotate(180deg);
                        }
                    }

                    &:hover{
                        opacity: .9;
                    }
                }

                .option-list{
                    display: flex;
                    width: 12%;
                    position: absolute;
                    z-index: 999;
                    top: 33%;
                    flex-direction: column;
                    background-color: rgb(31, 27, 27);
                    border-radius: 4px;
                    
                    .item{
                        color: rgba($color: $white, $alpha: .7);
                        font-size: $fs-16;
                        font-weight: $fw-600;
                        padding: 10px;
                        border-bottom: 1px solid rgba($color: $white, $alpha: .5);
                        transition: all .3s;
                        cursor: pointer;

                        &:hover{
                            background-color: rgb(50, 50, 50);
                        }
                        
                        &:nth-last-child(1){
                            border-bottom: 0;
                        }
                    }

                }
            }

            button{
                display: flex;
                flex-direction: row;
                border: 1px solid $white;
                align-items: center;
                width: 10%;
                padding: 10px 0;
                margin: 0 0 0 auto;
                justify-content: center;
                opacity: .7;

                span{
                    text-align: center;
                    display: flex;
                    color: $white;
                    font-size: $fs-18;
                    font-weight: $fw-600;
                }

                &:hover{
                    opacity: .9;
                }
            }
        }

        .md-result-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-gap: 12px;

            .result-item{
                display: flex;
                background-color: rgba($color: $l2blue, $alpha: .7);
                padding: 15px 20px;
                cursor: pointer;
                transition: all .5s;
                border-radius: 8px;

                span{
                    font-size: $fs-16;
                    font-weight: $fw-500;
                    text-align: justify;
                }

                &:hover{
                    background: rgba($color: $l2blue, $alpha: .5);
                    transition: background .5s;
                }

                &.selected{
                    background-color: rgba($color: $l2blue, $alpha: .9);
                }
            }
        }
    }

    .input-box{
        display: flex;
        flex-direction: column;
        @include text-border-gradient;
        border-color: $l2blue;
        box-shadow: none;
        width: 60%;
        padding: 28px 32px;
        gap: 24px;

        .el-textarea{
            textarea{
                width: 100%;
                background-color: $black;
                font-family: inherit;
                font-size: $fs-22;
                font-weight: $fw-700;
                color: $white;
                border: 0;
                outline: none;
                resize: none;

                &::placeholder{
                    color: rgba($color: $white, $alpha: 0.7);
                }
            }
        }
    }

    button{
        background-color: transparent;
        padding: 12px 62px;
        cursor: pointer;
        transition: all .3s;
        border-radius: 4px;
        margin-top: 2%;
        border: 4px dashed $l2blue;
        color: $white;
        font-size: $fs-22;
        font-weight: $fw-600;

        &:hover{
            border-color: $white;
            color: $l2blue;
        }

    }

    
}

.audio-player-container{
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100vw;
    height: 18%;
    background-color: rgba(15, 15, 15, $alpha: .5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .progress-bar{
        display: flex;
        position: relative;
        width: 90%;
        height: auto;
        flex-direction: column;
        align-items: center;

        input[type="range"] {
            /* removing default appearance */
            -webkit-appearance: none;
            appearance: none; 
            /* creating a custom design */
            width: 100%;
            cursor: pointer;
            outline: none;
            /*  slider progress trick  */
            overflow: hidden;
            border-radius: 50px;
            background-color: $black;
        }
          
        /* Track: webkit browsers */
        input[type="range"]::-webkit-slider-runnable-track {
            height: 8px;
            background: rgba($color: $white, $alpha: .9);
            border-radius: 50px;
        }
        
        /* Thumb: webkit */
        input[type="range"]::-webkit-slider-thumb {
            /* removing default appearance */
            -webkit-appearance: none;
            appearance: none; 
            /* creating a custom design */
            height: 8px;
            width: 8px;
            background-color: $l2blue;
            border-radius: 50%;
            border: 2px solid $l2blue;
            /*  slider progress trick  */
            box-shadow: -805px 0 0 800px $l2blue;
        }

        .time{
            display: flex;
            width: 100%;
            justify-content: space-between;

            span{
              font-size: $fs-16;
              color: rgba($color: $l2blue, $alpha: .9);
              font-weight: $fw-600;  
            }
        }

    }

    .details-container{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 90%;
        align-items: center;
        gap: 8px;

        h3{
            color: $white;
            display: flex;
            text-align: left;
            margin: 0;
            font-size: $fs-22;
            width: 45%;
            flex-direction: row;
            gap: 8px;
            align-items: center;

            button{
                background-color: transparent;
                border: none;
                display: flex;
        
                img{
                    width: 20px;
                    height: 20px;
                }
    
                &:hover{
                    cursor: pointer;
                    opacity: .7;
                    transition: .3s;
                }
            }
        }

        .control-btn{
            display: flex;
            width: 15%;
            justify-content: space-between;

            button{
                background-color: transparent;
                border: none;
        
                img{
                    width: 25px;
                    height: 25px;
                }

                &:hover{
                    cursor: pointer;
                    opacity: .7;
                    transition: .3s;
                }
            }
        }

        .volume-slider-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            width: auto;
            margin-right: 0;
            margin-left: auto;
            
            img{
                width: 25px;
                height: 25px;
            }

            .volume-slider{
                input[type="range"] {
                    /* removing default appearance */
                    -webkit-appearance: none;
                    appearance: none; 
                    /* creating a custom design */
                    width: 100%;
                    cursor: pointer;
                    outline: none;
                    /*  slider progress trick  */
                    overflow: hidden;
                    border-radius: 50px;
                    background-color: $black;
                }
                  
                /* Track: webkit browsers */
                input[type="range"]::-webkit-slider-runnable-track {
                    height: 8px;
                    background: rgba($color: $white, $alpha: .9);
                    border-radius: 50px;
                    width: 100%;
                }
                
                /* Thumb: webkit */
                input[type="range"]::-webkit-slider-thumb {
                    /* removing default appearance */
                    -webkit-appearance: none;
                    appearance: none; 
                    /* creating a custom design */
                    height: 8px;
                    width: 8px;
                    background-color: $l2blue;
                    border-radius: 50%;
                    border: 2px solid $l2blue;
                    /*  slider progress trick  */
                    box-shadow: -805px 0 0 800px $l2blue;
                }
            }
        }
    }
}

audio{
    display: none !important;
}