@import 'variable';

.genre-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 10%;

    .genre-list{
        display: flex;
        flex-direction: column;
        width: 18%;
        margin: 1%;
        border-radius: 8px;
        margin-top: 2%;
        height: 100%;
        padding-bottom: 1%;

        &-item{
            display: flex;
            background-color: transparent;
            border: 0;
            font-family: 'Montserrat';
            
            &-container{
                display: flex;
                flex-direction: row;
                width: 100%;
                color: $white;
                align-items: center;
                gap: 8px;
                padding: 4%;
                cursor: pointer;
                font-size: $fs-18;
                font-weight: $fw-700;

                &.selected{
                    background-color: rgba(#00a8e8, 0.3);
                    border-radius: 8px;

                    &:hover{
                        background-color: rgba(#00a8e8, 0.3);
                        border-radius: 8px;
                    }
                }

                &:hover{
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 8px;
                }

            }
        }
    
    }

    .songlist{
        display: flex;
        flex-direction: column;
        width: 77%;
        margin-right: 1%;
        margin-top: 2%;
        height: 100%;
        border-radius: 12px;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1.0)); /* Adjust opacity as needed */
            z-index: 1;
        }

        &-header{
            display: flex;
            flex-direction: row;
            padding-top: 8%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            padding-left: 2%;
            padding-right: 2%;
            gap: 16px;
            align-items: center;
            z-index: 2;

            img{
                width: 150px;
                height: 150px;
                border-radius: 8px;
            }

            &-text{
                display: flex;
                flex-direction: column;
                width: 100%;

                h2{
                    font-size: $fs-48;
                    margin-bottom: 4px;
                    margin-top: 0;
                }

                h3{
                    font-size: $fs-20;
                    margin: 0;
                    color: $grey-50trans;
                    font-weight: $fw-600;
                }

                .action-icon{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 8px;
                    width: 100%;
                    gap: 16px;

                    img{
                        display: flex;
                        width: 30px;
                        height: 30px;
                        
                        &:hover{
                            cursor: pointer;
                        }

                        &.play-btn{
                            width: 70px;
                            height: 70px;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }

        &-body{
            z-index: 3;
            display: flex;
            flex-direction: column;
            margin-top: 4%;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding-left: 2%;
            padding-right: 2%;
            
            table{
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;

                thead{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    border-bottom: 2px solid $grey-50trans;
                    margin-bottom: 2%;
                    

                    h5{
                        display: flex;
                        width: 20%;
                        margin-bottom: 1%;
                        font-size: $fs-16;
                        

                        &.no{
                            display: flex;
                            width: 5%;
                            padding-left: 1%;
                        }

                        &.name{
                            display: flex;
                            width: 55%;
                        }
                    }
                }

                tbody{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;

                    .song-details{
                        display: flex;
                        flex-direction: row;
                        cursor: pointer;
                        height: 100%;
                        padding: 1.5% 0%;
                        border-radius: 4px;

                        span{
                            display: flex;
                            width: 20%;
                            color: $grey-50trans;
                            font-size: $fs-16;
                            font-weight: $fw-600;

                            &.no{
                                display: flex;
                                width: 5%;
                                padding-left: 1%;
                            }

                            &.name{
                                display: flex;
                                color: $white;
                                width: 55%;
                            }
                        }

                        &:hover{
                            background-color: rgba(255, 255, 255, 0.1);
                        }

                        &.selected{
                            background-color: rgba(255, 255, 255, 0.3);
                        }
                    }
                }
            }

            
           
        }
    }
}

.audio-player-container{
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100vw;
    height: 18%;
    background-color: rgba(15, 15, 15);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .progress-bar{
        display: flex;
        position: relative;
        width: 90%;
        height: auto;
        flex-direction: column;
        align-items: center;

        input[type="range"] {
            /* removing default appearance */
            -webkit-appearance: none;
            appearance: none; 
            /* creating a custom design */
            width: 100%;
            cursor: pointer;
            outline: none;
            /*  slider progress trick  */
            overflow: hidden;
            border-radius: 50px;
            background-color: $black;
        }
          
        /* Track: webkit browsers */
        input[type="range"]::-webkit-slider-runnable-track {
            height: 8px;
            background: rgba($color: $white, $alpha: .9);
            border-radius: 50px;
        }
        
        /* Thumb: webkit */
        input[type="range"]::-webkit-slider-thumb {
            /* removing default appearance */
            -webkit-appearance: none;
            appearance: none; 
            /* creating a custom design */
            height: 8px;
            width: 8px;
            background-color: $l2blue;
            border-radius: 50%;
            border: 2px solid $l2blue;
            /*  slider progress trick  */
            box-shadow: -805px 0 0 800px $l2blue;
        }

        .time{
            display: flex;
            width: 100%;
            justify-content: space-between;

            span{
              font-size: $fs-16;
              color: rgba($color: $l2blue, $alpha: .9);
              font-weight: $fw-600;  
            }
        }

    }

    .details-container{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 90%;
        align-items: center;
        gap: 8px;

        h3{
            color: $white;
            display: flex;
            text-align: left;
            margin: 0;
            font-size: $fs-22;
            width: 45%;
        }

        .control-btn{
            display: flex;
            width: 15%;
            justify-content: space-between;

            button{
                background-color: rgba(15, 15, 15);
                border: none;
        
                img{
                    width: 25px;
                    height: 25px;
                }

                &:hover{
                    cursor: pointer;
                    opacity: .7;
                    transition: .3s;
                }
            }
        }

        .volume-slider-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            width: auto;
            margin-right: 0;
            margin-left: auto;
            
            img{
                width: 25px;
                height: 25px;
            }

            .volume-slider{
                input[type="range"] {
                    /* removing default appearance */
                    -webkit-appearance: none;
                    appearance: none; 
                    /* creating a custom design */
                    width: 100%;
                    cursor: pointer;
                    outline: none;
                    /*  slider progress trick  */
                    overflow: hidden;
                    border-radius: 50px;
                    background-color: $black;
                }
                  
                /* Track: webkit browsers */
                input[type="range"]::-webkit-slider-runnable-track {
                    height: 8px;
                    background: rgba($color: $white, $alpha: .9);
                    border-radius: 50px;
                    width: 100%;
                }
                
                /* Thumb: webkit */
                input[type="range"]::-webkit-slider-thumb {
                    /* removing default appearance */
                    -webkit-appearance: none;
                    appearance: none; 
                    /* creating a custom design */
                    height: 8px;
                    width: 8px;
                    background-color: $l2blue;
                    border-radius: 50%;
                    border: 2px solid $l2blue;
                    /*  slider progress trick  */
                    box-shadow: -805px 0 0 800px $l2blue;
                }
            }
        }
    }
}

audio{
    display: none !important;
}

.footer{
    display: none;
}