@import 'variable';

.page{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .title{
        display: flex;
        height: 90vh;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        margin-bottom: 0;

        video{
            width: 100%;
            z-index: -999;
            position: absolute;
            height: 100%;
            top: 0;
            object-fit: cover;
            
        }

        &::before{
            content: '';
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -998;
            top: 0;
            
        }

        h1{
            font-size: $fs-84;
            font-weight: $fw-900;
            color: $white;
            margin-top: -5%;
            letter-spacing: 3px;
        }
    }

    .website-description{
        display: flex;
        position: relative;
        margin: 8% 0;
        width: 100vw;
        align-items: center;
        justify-content: center;
          
        h1 {
            display: inline-block;
            font-size: $fs-32;
            color: $white;
            font-weight: $fw-700;
            margin: 0;
            width: 60%;
            position: absolute;
            text-align: center;
        }

        img{
            display: flex;
            z-index: -999;
            position: relative;
            width: 100vw;
            height: 50%;

        }

        &::before{
            content: '';
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -998;
            top: 0;

        }
    }

    .generate-section{
        width: 100vw;
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: center;
        gap: 90px;
        position: relative;

        .section-left{
            display: flex;
            width: 100vw;
            height: 60vh;
            position: relative;
            margin-left: 5%;

            video{
                display: flex;
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                z-index: -999;
                top: 0;
                left: 0;
            }

            &::before{
                content: '';
                background-color: rgba(0, 0, 0, 0.1);
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -998;
            }
        }

        .description{
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 24px;
            margin: 5% 0;
            
            h1{
                font-size: $fs-36;
                font-weight: $fw-700;
                margin: 0;
            }

            span{
                font-size: $fs-20;
                font-weight: $fw-400;
                margin-right: 90px;
                text-align: justify;
            }

            .generate-button {
                background: transparent;
                position: relative;
                display: flex;
                border: none;
                border-radius: 8px;
                letter-spacing: 1px;
                cursor:pointer;
                transition: all .5s;
                text-decoration: none;
                color: $text-gradient;
                font-size: $fs-24;
                font-weight: $fw-800;
                padding: 2% 0;
                width: max-content;
                background: linear-gradient(90deg, $l2blue 21.55%, $purple-blue 81.5%);
                background-clip: text;
                color: transparent;
            
                &:focus{
                  outline: none;
                }
                
                &::before,
                &::after{
                    position: absolute;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(90deg, $l2blue 21.55%, $purple-blue 81.5%);
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: all .4s;
                }
                
                &::before{
                    top: 0;
                }
                
                &::after{
                    bottom: 0;
                }
                
                &:hover{
                    letter-spacing: 3px;
                }
                
                &:hover::before,
                &:hover::after{
                    transform: scaleX(1);
                }
            }
        }
    }

    .library-section{
        display: flex;
        flex-direction: row;
        margin-top: 8%;
        width: 100vw;
        height: 60vh;

        .container-left{
            display: flex;
            margin-left: 5%;
            width: 55%;
            justify-content: center;
            flex-direction: column;

            h1{
                font-size: $fs-36;
                font-weight: $fw-700;
                margin: 0;
            }   
            
            p{
                font-size: $fs-20;
                font-weight: $fw-400;
                margin-right: 90px;
                text-align: justify;
            }

            .library-button {
                background: transparent;
                position: relative;
                display: flex;
                border: none;
                border-radius: 8px;
                letter-spacing: 1px;
                cursor:pointer;
                transition: all .5s;
                text-decoration: none;
                color: $text-gradient;
                font-size: $fs-24;
                font-weight: $fw-800;
                padding: 2% 0;
                width: max-content;
                background: linear-gradient(90deg, $purple-blue 21.55%, $l2blue 73.5%);
                background-clip: text;
                color: transparent;
            
                &:focus{
                  outline: none;
                }
                
                &::before,
                &::after{
                    position: absolute;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(90deg, $purple-blue 21.55%, $l2blue 73.5%);
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: all .4s;
                }
                
                &::before{
                    top: 0;
                }
                
                &::after{
                    bottom: 0;
                }
                
                &:hover{
                    letter-spacing: 3px;
                }
                
                &:hover::before,
                &:hover::after{
                    transform: scaleX(1);
                }
            }
        }

        .container-right{
            display: flex;
            width: 40%;
            margin-right: 5%;
            
            img{
                display: flex;
                width: 100%;
                object-fit: cover;
                position: absolute;
                z-index: -999;
                height: 100%;
            }

            &::before{
                content: '';
                background-color: rgba(0, 0, 0, 0.2);
                position: absolute;
                z-index: -998;
                width: 100%;
                height: 100%;
            }
        }
    }

    .discover-section{
        width: 100vw;
        flex-direction: column;
        display: flex;
        margin-top: 8%;

        .container{
            width: 100vw;
            position: relative;
            display: flex;
            gap: 5%;
            justify-content: center;
            flex-wrap: wrap;
        }

        .container .card{
            position: relative;
        }

        .container .card .face{
            width: 300px;
            height: 300px;
            transition:.4s;
        }

        .container .card .face.face1{
            position: relative;
            background: $black;
            display: flex;
            justify-content: center;
            align-content:center;
            align-items: center;
            z-index: 1;
            transform: translateY(100px);
        }

        .container .card:hover .face.face1{
            transform: translateY(0);
            box-shadow:
                inset 0 0 50px $white,
                inset 20px 0 80px $l2blue,
                inset -20px 0 80px #f0f,
                inset 20px 0 300px $l2blue,
                inset -20px 0 300px #f0f,
                0 0 20px $white,
                -10px 0 80px $l2blue,
                10px 0 80px #f0f;
        }

        .container .card .face.face1 .content{
            opacity: .8;
            transition:  0.5s;
            text-align: center;

            &::before{
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -998;
            }
        }

        .container .card:hover .face.face1 .content{
            opacity: 1;

            &::before{
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -998;
            }
        }

        .container .card .face.face1 .content h3{
            font-size: $fs-24;
            color: $white;
            text-align: center;
        }

        .container .card .face.face1 .content img{
            display: flex;
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -999;
        }

        .container .card .face.face1 .content a{
            transition: .5s;
        }

        .container .card .face.face2{
            position: relative;
            background: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            box-shadow: 0 20px 50px rgba(0,0,0,.8);
            transform: translateY(-200px);
        }

        .container .card:hover .face.face2{
            transform: translateY(0);
            height: max-content;
            padding: 5% 0;
        }

        .container .card .face.face2 .content p, a{
            font-size: $fs-16;
            margin: 5% 7% 0 7% ;
            font-weight: $fw-500;
            color:$black;
            text-align: justify;
        }

        .container .card .face.face2 .content a{
            text-decoration:none;
            color: black;
            box-sizing: border-box;
            outline : 1px dashed $black;
            padding: 10px;
            margin-top: 5%;
            width: max-content;
            display: flex;
        }

        .container .card .face.face2 .content a:hover{
            background: $black ;
            color: $white; 
            box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
            transition: .3s;
        }
    }
}