html{
    margin: 0;
    font-family: 'Montserrat';
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    padding: 0;
}

.page{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Montserrat';
    flex-direction: column;
    align-items: center;
}

body{
    margin: 8px 0;
}
