@import 'variable';

.profile-page{
    display: flex;
    width: 100vw;
    height: 100%;

    .error-message{
        position: fixed;
        z-index: 999;
        top: 0;
        margin-top: 2%;
        width: 100vw;
        display: flex;
        justify-content: center;

        p{
            text-align: center;
            background-color: $white;
            border: 1px solid $red;
            color: $red;
            padding: 1% 2%;
            border-radius: 4px;
        }
    }

    .success-message{
        position: fixed;
        z-index: 999;
        top: 0;
        margin-top: 2%;
        width: 100vw;
        display: flex;
        justify-content: center;

        p{
            text-align: center;
            background-color: $white;
            border: 1px solid $green;
            color: $green;
            padding: 1% 2%;
            border-radius: 4px;
        }
    }

    .login-modal{
        position: absolute;
        display: flex;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
    
        &::before{
            content: '';
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
        }
    
        &-container{
            display: flex;
            width: 60%;
            height: 60%;
            align-items: center;
            justify-content: center;
            background-color: $black;
            border-radius: 12px;
            flex-direction: column;
            box-shadow: 0px 0px 30px 15px rgba(0, 168, 232, 0.6);

            .close-btn{
                background-color: transparent;
                border: none;
                display: flex;
                top: 0;
                right: 0;
                margin-top: 2%;
                margin-right: 2%;
                position: absolute;
                z-index: 2;

                img{
                    display: flex;
                    width: 30px;
                    height: 30px;
                }
            }

            .bg{
                display: flex;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
                border-radius: 12px;
            }

            .content{
                display: flex;
                position: relative;
                z-index: 2;
                width: 90%;
                height: 100%;
                margin: 5% 5%;
                flex-direction: column;
                align-items: center;

                h1{
                    display: flex;
                    font-size: $fs-40;
                    font-weight: $fw-900;
                    color: $white;
                    letter-spacing: 1px;
                    text-align: center;
                    margin: 0;
                }

                .login-container{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 80%;
                    height: 100%;
                    margin-top: 2%;

                    .text-box{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        margin-bottom: 2%;
                        justify-content: center;
        
                        p{
                            font-size: $fs-18;
                            font-weight: $fw-600;
                            color: $white;
                            margin-top: 2%;
                            margin-bottom: 1%;
                        }
        
                        .el-input{
                            display: flex;
                            width: 100%;
                            margin-right: 5%;
                            margin-top: 1%;
        
                            &__wrapper{
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                padding: 1%;
                                background-color: transparent;
                                border: 2px solid $white;
                                border-radius: 4px;
                                outline: none;
    
                                &.is-focus{
                                    border-color: $l2blue;
                                }
                            }

                            &__inner{
                                background-color: transparent;
                                border: none;
                                outline: none;
                                width: 95%;
                                font-family: inherit;
                                font-size: $fs-16;
                                font-weight: $fw-700;
                                color: $l2blue;

                                &:focus{
                                    border: none;
                                }
                            }

                            .el-icon{
                                display: flex;
                                width: 20px;
                                align-items: center;
                                justify-content: center;
                                color: $l2blue;
                            }
                        }                
                    }
    
                    .login-btn{
                        display: flex;
                        flex-direction: row;
                        position: relative;
                        width: 100%;
                        margin-top: 1%;
                        justify-content: space-between;
                        justify-items: first baseline;
                        align-items: flex-start;
    
                        button{
                            background-color: transparent;
                            border: none;
                            color: rgba($color: $white, $alpha: .7);
                            font-size: $fs-14;
                            font-weight: $fw-500;
                            padding: 0;
    
                            &:hover{
                                color: $l2blue;
                                text-decoration: underline;
                                cursor: pointer;
                                
                            }
    
                            &.log-in{
                                background-color: $l2blue;
                                padding: 1.5% 3%;
                                border-radius: 4px;
                                color: $black;
                                font-size: $fs-16;
                                font-weight: $fw-600;
    
                                &:hover{
                                    background-color: $lblue;
                                    text-decoration: none;
                                    transition: all .3s;
                                }
                            }
                        }
                    }

                    .sign-up-option{
                        display: flex;
                        width: 100%;
                        margin-top: auto;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 0;
    
                        p{
                            font-size: $fs-14;
                        }
    
                        button{
                            background-color: transparent;
                            border: none;
                            text-decoration: underline;
                            color: $l2blue;
    
                            &:hover{
                                cursor: pointer;
                                letter-spacing: 1px;
                                transition: all .5s;
                            }
                        }
                    }
                }

                .sign-up-container{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 80%;
                    height: 100%;
                    margin-top: 1%;

                    .text-box{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        margin-bottom: 1%;
                        justify-content: center;
        
                        p{
                            font-size: $fs-18;
                            font-weight: $fw-600;
                            color: $white;
                            margin-top: 2%;
                            margin-bottom: 0;
                        }
        
                        .el-input{
                            display: flex;
                            width: 100%;
                            margin-right: 5%;
                            margin-top: 1%;
        
                            &__wrapper{
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                padding: 1%;
                                background-color: transparent;
                                border: 2px solid $white;
                                border-radius: 4px;
                                outline: none;
    
                                &.is-focus{
                                    border-color: $l2blue;
                                }
                            }

                            &__inner{
                                background-color: transparent;
                                border: none;
                                outline: none;
                                width: 95%;
                                font-family: inherit;
                                font-size: $fs-16;
                                font-weight: $fw-700;
                                color: $l2blue;

                                &:focus{
                                    border: none;
                                }
                            }

                            .el-icon{
                                display: flex;
                                width: 20px;
                                align-items: center;
                                justify-content: center;
                                color: $l2blue;
                            }
                        }                
                    }
    
                    .signup-btn{
                        display: flex;
                        flex-direction: row;
                        position: relative;
                        width: 100%;
                        margin-top: 2%;
                        justify-content: space-between;
                        justify-items: first baseline;
                        align-items: flex-start;
    
                        button{
                            background-color: transparent;
                            border: none;
                            color: rgba($color: $white, $alpha: .7);
                            font-size: $fs-14;
                            font-weight: $fw-500;
                            padding: 0;
    
                            &:hover{
                                color: $l2blue;
                                text-decoration: underline;
                                cursor: pointer;
                                
                            }
    
                            &.sign-up{
                                background-color: $l2blue;
                                padding: 1.5% 3%;
                                border-radius: 4px;
                                color: $black;
                                font-size: $fs-16;
                                font-weight: $fw-600;
    
                                &:hover{
                                    background-color: $lblue;
                                    text-decoration: none;
                                    transition: all .3s;
                                }
                            }
                        }
                    }

                    .sign-up-option{
                        display: flex;
                        width: 100%;
                        margin-top: auto;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 0;
    
                        p{
                            font-size: $fs-14;
                        }
    
                        button{
                            background-color: transparent;
                            border: none;
                            text-decoration: underline;
                            color: $l2blue;
    
                            &:hover{
                                cursor: pointer;
                                letter-spacing: 1px;
                                transition: all .5s;
                            }
                        }
                    }
                }

                .forget-pwd-container{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 80%;
                    height: 100%;
                    margin-top: 2%;

                    .text-box{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        margin-bottom: 2%;
                        justify-content: center;
        
                        p{
                            display: flex;
                            font-size: $fs-18;
                            font-weight: $fw-600;
                            color: $white;
                            margin-top: 2%;
                            margin-bottom: 1%;
                            width: 100%;
                            
                        }

                        .username{
                            display: flex;
                            width: 100%;
                            margin-right: 5%;
                            margin-top: 1%;
        
                            p{
                                width: 100%;
                                padding: 1%;
                                margin-top: 0;
                                background-color: transparent;
                                font-family: inherit;
                                font-size: $fs-16;
                                font-weight: $fw-700;
                                color: rgba(118, 118, 118);
                                border: 2px solid rgba(118, 118, 118);
                                border-radius: 4px;
                                cursor: not-allowed;
                            }
                        } 
        
                        .el-input{
                            display: flex;
                            width: 100%;
                            margin-right: 5%;
                            margin-top: 1%;
        
                            &__wrapper{
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                padding: 1%;
                                background-color: transparent;
                                border: 2px solid $white;
                                border-radius: 4px;
                                outline: none;
    
                                &.is-focus{
                                    border-color: $l2blue;
                                }
                            }

                            &__inner{
                                background-color: transparent;
                                border: none;
                                outline: none;
                                width: 95%;
                                font-family: inherit;
                                font-size: $fs-16;
                                font-weight: $fw-700;
                                color: $l2blue;

                                &:focus{
                                    border: none;
                                }
                            }

                            .el-icon{
                                display: flex;
                                width: 20px;
                                align-items: center;
                                justify-content: center;
                                color: $l2blue;
                            }
                        }                  
                    }
    
                    .submit-btn{
                        display: flex;
                        flex-direction: row;
                        position: relative;
                        width: 100%;
                        margin-top: 1%;
                        justify-content: space-between;
                        justify-items: first baseline;
                        align-items: flex-start;
    
                        button{
                            background-color: transparent;
                            border: none;
                            color: rgba($color: $white, $alpha: .7);
                            font-size: $fs-14;
                            font-weight: $fw-500;
                            padding: 0;
    
                            &:hover{
                                color: $l2blue;
                                text-decoration: underline;
                                cursor: pointer;
                                
                            }
    
                            &.reset{
                                background-color: $l2blue;
                                padding: 1.5% 3%;
                                border-radius: 4px;
                                color: $black;
                                font-size: $fs-16;
                                font-weight: $fw-600;
    
                                &:hover{
                                    background-color: $lblue;
                                    text-decoration: none;
                                    transition: all .3s;
                                }
                            }
                        }
                    }

                    .sign-up-option{
                        display: flex;
                        width: 100%;
                        margin-top: auto;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 0;
    
                        p{
                            font-size: $fs-14;
                        }
    
                        button{
                            background-color: transparent;
                            border: none;
                            text-decoration: underline;
                            color: $l2blue;
    
                            &:hover{
                                cursor: pointer;
                                letter-spacing: 1px;
                                transition: all .5s;
                            }
                        }
                    }
                }
            }
        }
    }

    .profile-container{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100%;
        margin: 1%;

        &-left{
            display: flex;
            width: 20%;
            padding: 1%;
            flex-direction: column;
            background: rgba(255, 255, 255, .1);
            border-radius: 12px;

            .user-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 5% 0;
                border-bottom: 1px solid $grey-50trans;

                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50px;
                }

                h2{
                    text-align: center;
                    font-size: $fs-22;
                    display: flex;
                    color: $white;
                    margin-top: 8%;
                    margin-bottom: 3%;
                }

                button{
                    display: flex;
                    background-color: transparent;
                    border: none;
                    margin-bottom: 10%;
                    color: $grey-50trans;
                    font-size: $fs-14;
                    font-weight: $fw-500;

                    &:hover{
                        cursor: pointer;
                        color: $l2blue;
                        transition: all .3s;
                    }
                }
            }

            .playlist{
                display: flex;
                flex-direction: column;

                &-header{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 3%;

                    h2{
                        text-align: center;
                        font-size: $fs-22;
                        display: flex;
                        color: $white;
                        margin: 2% 0;

                    }

                    img{
                        width: 20px;
                        height: 20px;

                        &:hover{
                            cursor: pointer;
                            transition: all .3s;
                        }
                    }

                    .action-btn{
                        display: flex;
                        flex-direction: row;
                        gap: 4px;

                        h3{
                            font-size: $fs-16;
                            display: flex;
                            color: $white;
                            font-weight: $fw-500;
                            margin: 0;
                            cursor: pointer;

                            &:hover{
                                opacity: .7;
                                transition: all .3s;
                            }

                            &.save{
                                color: $green;
                            }

                            &.cancel{
                                color: $grey-50trans;
                            }
                        }
                    }
                }

                &-body{

                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .playlist-item{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 12px;
                        width: 96%;
                        cursor: pointer;
                        padding: 0 2%;

                        &-add{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            cursor: pointer;

                            &:hover{
                                opacity: .7;
                                transition: all .3s;
                            }

                            h5{
                                color: $grey-50trans;
                                font-size: $fs-16;
                                font-weight: $fw-500;
                                margin: 0;
                            }

                            img{
                                &.add{
                                    width: 30px;
                                    height: 30px;
                                    opacity: .5;
                                }
                            }
                        }
                        
                        img{
                            width: 60px;
                            height: 60px;
                            border-radius: 12px;
    
                            &.delete{
                                width: 20px;
                                height: 20px;
                                border-radius: 0;
    
                                &:hover{
                                    opacity: .7;
                                }
                            }
                        }
    
                        .playlist-details{
                            display: flex;
                            flex-direction: column;
    
                            h3{
                                color: $white;
                                font-size: $fs-18;
                                margin-bottom: 2%;
                            }
    
                            p{
                                margin-top: 0;
                                font-size: $fs-14;
                                color: $grey-50trans;
                            }
                        }

                        &:hover{
                            background-color: rgba($color: $white, $alpha: .1);
                            border-radius: 6px;
                        }
    
                        &.selected{
                            background-color: rgba($color: $white, $alpha: .2);
                            border-radius: 6px;
                        }
                    }

                    &-edit{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        .playlist-item{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 12px;
                            width: 96%;
                            cursor: pointer;
                            padding: 0 2%;

                            
                            
                            img{
                                width: 60px;
                                height: 60px;
                                border-radius: 12px;
        
                                &.delete{
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 0;
                                    margin-right: 0;
                                    margin-left: auto;
        
                                    &:hover{
                                        opacity: .7;
                                        transition: all .3s;
                                    }
                                }
                            }

                            
        
                            .playlist-details{
                                display: flex;
                                flex-direction: column;
        
                                h3{
                                    color: $white;
                                    font-size: $fs-18;
                                    margin-bottom: 2%;
                                }
        
                                p{
                                    margin-top: 0;
                                    font-size: $fs-14;
                                    color: $grey-50trans;
                                }
                            }
                        }
                    }
                }
            }
        }

        &-right{
            display: flex;
            width: 72%;
            flex-direction: column;
            padding: 1%;
            padding-left: 2%;

            h2{
                color: $white;
                font-size: $fs-36;
                font-weight: $fw-800;
                margin: 0;
                padding-bottom: 2%;
                border-bottom: 3px solid $grey-50trans;
            }

            .change-info{
                display: flex;
                flex-direction: column;
                margin-top: 5%;
                margin-bottom: 2%;
                justify-content: center;
                padding-left: 2%;

                h3{
                    color: $white;
                    font-size: $fs-24;
                    font-weight: $fw-700;
                    margin-top: 0;
                    margin-bottom: 2%;
                }

                p{
                    margin: 2% 0;
                    margin-top: 0;
                    font-size: $fs-16;
                    font-weight: $fw-500;
                }

                .input-container{
                    display: flex;
                    flex-direction: row;
                    width: 80%;
                    gap: 12px;

                    .el-input{
                        display: flex;
                        width: 70%;

                        &.is-disabled{
                            .el-input__wrapper{
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                padding: 1%;
                                background-color: transparent;
                                border: 2px solid $grey-50trans;
                                border-radius: 4px;
                                outline: none;

                                &:hover{
                                    cursor: not-allowed;
                                }
                            }
    
                            .el-input__inner{
                                background-color: transparent;
                                border: none;
                                outline: none;
                                width: 100%;
                                font-family: inherit;
                                font-size: $fs-18;
                                font-weight: $fw-600;
                                color: $grey-50trans;

                                &:hover{
                                    cursor: not-allowed;
                                }
                            }
                        }

                        .el-input__wrapper{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 1%;
                            background-color: transparent;
                            border: 2px solid $white;
                            border-radius: 4px;
                            outline: none;

                            &.is-focus{
                                border-color: $l2blue;
                            }
                        }

                        .el-input__inner{
                            background-color: transparent;
                            border: none;
                            outline: none;
                            width: 100%;
                            font-family: inherit;
                            font-size: $fs-18;
                            font-weight: $fw-600;
                            color: $l2blue;

                            &:focus{
                                border: none;
                            }
                        }
                    }  

                    button{
                        display: flex;
                        border: none;
                        color: $white;
                        font-size: $fs-18;
                        font-weight: $fw-600;
                        width: 10%;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;

                        &.edit{
                            background-color: $l2blue;
                            color: $black;
                        }

                        &.save{
                            background-color: $green;
                            color: $black;
                        }

                        &.cancel{
                            background-color: transparent;
                            border: 3px solid $grey-50trans;
                            color: $grey-50trans;
                        }

                        &:hover{
                            opacity: .8;
                            cursor: pointer;
                            transition: all .3s;
                        }

                    }   
                }
            }

            .change-info-picture{
                display: flex;
                flex-direction: column;
                margin-top: 5%;
                margin-bottom: 2%;
                justify-content: center;
                padding-left: 2%;
                border-top: 1px solid $grey-50trans;

                h3{
                    color: $white;
                    font-size: $fs-24;
                    font-weight: $fw-700;
                    margin: 5% 0;
                    margin-bottom: 5%;
                }

                .upload-image{
                    display: flex;
                    flex-direction: row;
                    width: auto;
                    gap: 24px;
                    margin-bottom: 5%;

                    img{
                        width: 200px;
                        height: 200px;
                        border-radius: 8px;
                    }

                    .no-cover{
                        width: 200px;
                        height: 200px;
                        border-radius: 8px;
                        background-color: rgba($color: $white, $alpha: .2);
                    }
    
                    .avatar-uploader {
                        display: flex;
                        flex-direction: row;
                        gap: 24px;
                        border: 1px dashed $white;
                        border-radius: 6px;
                        padding: 2%;
                        cursor: pointer;
                        transition: .3s;
                        align-items: center;
                        width: 75%;

                        .el-upload{
                            width: 100%;
                        }
    
                        .el-upload-dragger{
                            display: flex;
                            width: 100%;
                        }
    
                        .el-upload__text{
                            flex-direction: column;
                            align-items: center;
                            display: flex;
                            width: 100%;
    
                            .text{
                                display: flex;
                                flex-direction: row;

                                p{
                                    margin: 0;
                                    font-size: $fs-18;
                                    font-weight: $fw-500;
                                    color: $white;

                                    &.blue{
                                        color: $l2blue;
                                        font-style: italic;
                                    }

                                }
                                
                                
                            }
                        }
                        
                        .el-icon.avatar-uploader-icon {
                            color: $l2blue;
                            text-align: center;
                            display: flex;
                            width: 100px;
                            
                        }
    
                        &:hover {
                            border-color: $l2blue;
                            transition: .3s;
                        }
    
                        .el-upload__input{
                            display: none;
                        }
    
                    }
    
                }

                .action-btn{
                    display: flex;
                    flex-direction: row;
                    gap: 8px;

                    button{
                        display: flex;
                        border: none;
                        color: $white;
                        font-size: $fs-18;
                        font-weight: $fw-600;
                        width: 10%;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 6px;

                        &.save{
                            background-color: $green;
                            color: $black;
                        }

                        &.cancel{
                            background-color: transparent;
                            border: 3px solid $grey-50trans;
                            color: $grey-50trans;
                        }

                        &:hover{
                            opacity: .8;
                            cursor: pointer;
                            transition: all .3s;
                        }
                    }
                }
            }

            &.playlist{
                .change-info-picture{
                    border-top: none;
                    margin: 0;
                    border-bottom: 1px solid $grey-50trans;
                }

                .change-info{
                    padding-bottom: 5%;
                    border-bottom: 1px solid $grey-50trans;
                }

                .change-info-songlist{
                    display: flex;
                    flex-direction: column;
                    margin: 2%;

                    &-header{
                        display: flex;
                        flex-direction: row;
                        align-items: center;    

                        h3{
                            display: flex;
                            color: $white;
                            font-size: $fs-24;
                            font-weight: $fw-700;
                            margin: 0;
                        }

                        .action-btn{
                            margin-right: 0;
                            margin-left: auto;
                            display: flex;
                            align-items: center;
                            justify-content: right;
                            width: 20%;
                            height: auto;
                            gap: 4px;
                            
                            button{
                                display: flex;
                                border: none;
                                color: $white;
                                font-size: $fs-18;
                                font-weight: $fw-600;
                                border-radius: 4px;
                                padding: 5% 10%;
        
                                &.edit{
                                    background-color: $l2blue;
                                    color: $black;
                                }
        
                                &.save{
                                    background-color: $green;
                                    color: $black;
                                }
        
                                &.cancel{
                                    background-color: transparent;
                                    color: $grey-50trans;

                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
        
                                &:hover{
                                    opacity: .8;
                                    cursor: pointer;
                                    transition: all .3s;
                                }
        
                            } 
                        }
    
                        
                    }

                    .songlist-container{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        margin-top: 2%;

                        .songlist-item{
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            .change-info-song{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                                margin: 2%;

                                h5{
                                    width: 10%;
                                    font-size: $fs-18;
                                    color: $white;
                                    font-weight: $fw-600;
                                    text-align: left;
                                    margin: 0;

                                    &.song{
                                        width: 80%;
                                    }
                                }

                                .input-container{
                                    display: flex;
                                    flex-direction: row;
                                    width: 80%;
                                    gap: 12px;
                
                                    .el-input{
                                        display: flex;
                                        width: 70%;
                
                                        &.is-disabled{
                                            .el-input__wrapper{
                                                width: 100%;
                                                display: flex;
                                                flex-direction: row;
                                                align-items: center;
                                                padding: 1%;
                                                background-color: transparent;
                                                border: 2px solid $grey-50trans;
                                                border-radius: 4px;
                                                outline: none;
                
                                                &:hover{
                                                    cursor: not-allowed;
                                                }
                                            }
                    
                                            .el-input__inner{
                                                background-color: transparent;
                                                border: none;
                                                outline: none;
                                                width: 100%;
                                                font-family: inherit;
                                                font-size: $fs-18;
                                                font-weight: $fw-600;
                                                color: $grey-50trans;
                
                                                &:hover{
                                                    cursor: not-allowed;
                                                }
                                            }
                                        }
                
                                        .el-input__wrapper{
                                            width: 100%;
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            padding: 1%;
                                            background-color: transparent;
                                            border: 2px solid $white;
                                            border-radius: 4px;
                                            outline: none;
                
                                            &.is-focus{
                                                border-color: $l2blue;
                                            }
                                        }
                
                                        .el-input__inner{
                                            background-color: transparent;
                                            border: none;
                                            outline: none;
                                            width: 100%;
                                            font-family: inherit;
                                            font-size: $fs-18;
                                            font-weight: $fw-600;
                                            color: $l2blue;
                
                                            &:focus{
                                                border: none;
                                            }
                                        }
                                    }   
                                }

                                img{
                                    width: 20px;
                                    height: 20px;

                                    &:hover{
                                        opacity: .7;
                                        transition: all .3s;
                                        cursor: pointer;
                                    }
                                }
                            }

                            &-add{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 8px;
                                margin: 1%;
                                cursor: pointer;
                                justify-content: center;
                                width: 100%;

                                .avatar-uploader {
                                    display: flex;
                                    flex-direction: row;
                                    gap: 24px;
                                    border-radius: 6px;
                                    cursor: pointer;
                                    transition: .3s;
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
            
                                    .el-upload{
                                        width: 100%;
                                    }
                
                                    .el-upload-dragger{
                                        display: flex;
                                        width: 100%;
                                    }
                
                                    .el-upload__text{
                                        flex-direction: row;
                                        align-items: center;
                                        display: flex;
                                        justify-content: center;
                                        width: 100%;

                                        p{
                                            width: 100%;
                                            font-size: $fs-16;
                                            color: $grey-50trans;
                                            font-weight: $fw-600;
                                            text-align: left;
                                            margin: 0;
                                            margin-left: 1%;
                                        }
                                    }
                                    
                                    .el-icon {
                                        display: flex;
                                        width: 30px;
                                        height: 30px;
                                        
                                        img{
                                            opacity: .5;
                                            width: 30px;
                                            height: 30px;  
                                        }
                                        
                                        
                                    }
                
                                    &:hover {
                                        opacity: .7;
                                        transition: all .3s;
                                    }
                
                                    .el-upload__input{
                                        display: none;
                                    }
                
                                }
                            }

                            
                        }
                    }
                     
                }

            }
        }
    }
}